@font-face {
  font-family: "ato-font-family-v2";
  src: local("ato-font-family-v2"), url('../fonts/ato-font-family-v2.eot') format('eot');
  src: local("ato-font-family-v2"), url('../fonts/ato-font-family-v2.woff') format('woff');
  src: local("ato-font-family-v2"), url('../fonts/ato-font-family-v2.svg') format('svg');
  src: local("fato-font-family-v2"), url('../fonts/ato-font-family-v2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ato-icons";
  src: local("ato-icons"), url('../fonts/ato-icons.eot') format('eot');
  src: local("ato-icons"), url('../fonts/ato-icons.woff') format('woff');
  src: local("ato-icons"), url('../fonts/ato-icons.svg') format('svg');
  src: local("fato-icons"), url('../fonts/ato-icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/font-awesome/fontawesome-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/font-awesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/font-awesome/fontawesome-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/font-awesome/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/font-awesome/fontawesome-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/font-awesome/fontawesome-webfont#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/Open_Sans/opensans-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Open_Sans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Open_Sans/opensans-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Open_Sans/opensans-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Open_Sans/opensans-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Open_Sans/opensans-regular-webfont#svgFontName') format('svg'); /* Legacy iOS */
       font-weight: normal;
	   font-style: normal;
}

@font-face {
  font-family: 'OpenSansBold';
  src: url('../fonts/Open_Sans/opensans-bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Open_Sans/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Open_Sans/opensans-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Open_Sans/opensans-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Open_Sans/opensans-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Open_Sans/opensans-bold-webfont#svgFontName') format('svg'); /* Legacy iOS */
       font-weight: normal;
	   font-style: normal;
}

@font-face {
  font-family: 'OpenSansLight';
  src: url('../fonts/Open_Sans/opensans-light-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Open_Sans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Open_Sans/opensans-light-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Open_Sans/opensans-light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Open_Sans/opensans-light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Open_Sans/opensans-light-webfont#svgFontName') format('svg'); /* Legacy iOS */
       font-weight: normal;
	   font-style: normal;
}

/*
// [Font stacks]
*/
$default-font: Arial, sans-serif, "DejaVu Sans";

$open-sans-light:'OpenSansLight', Arial, sans-serif, "DejaVu Sans";
$open-sans:'OpenSans', Arial, sans-serif, "DejaVu Sans";
$open-sans-bold:'OpenSansBold', Arial, sans-serif, "DejaVu Sans";

*, html, body {
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	text-rendering:optimizeLegibility;
}
strong, b {
	font-weight:500;
}

h1, h2, h3, h4, h5 {
	color:$dark-grey;
	font-weight: 700;
}

h1 {
	margin-bottom:0.7em;
	margin-top:0;
	line-height:1.34167;
	font-size:44px;
	font-family:$open-sans-bold;
	@media screen and (max-width: $small-screen) {
		margin-bottom:25px;
		line-height:1.09375;
		font-size:30px;
	}
}

h2 {
	margin-bottom:15px;
	line-height:1.31111;
	font-size:34px;
	margin-top:1.25em;
	margin-bottom:0.555556em;
	@media screen and (max-width: $small-screen) {
		margin-bottom:15px;
		line-height:1.04167;
		font-size:22px;
		margin-top:25px;
	}
}

h3 {
	margin-bottom:0.833333em;
	font-size:23px;
	line-height:1.45;
	margin-top:1.875em;
	@media screen and (max-width: $small-screen) {
		margin-bottom:15px;
		font-size:18px;
		line-height:1.2;
		margin-top:25px;
	}
}

h4 {
	margin-bottom:0.3125em;
	margin-top:1.05263em;
	font-size:17px;
	line-height:1.5;
	@media screen and (max-width: $small-screen) {
		margin-bottom:15px;
		margin-top:25px;
		font-size:16px;
		line-height:1.25;
	}
}

h5 {
	margin-bottom:0.3125em;
	margin-top:1.05263em;
	font-size:17px;
	line-height:1.5;
	font-style:italic;
	@media screen and (max-width: $small-screen) {
		margin-bottom:15px;
		margin-top:25px;
		font-size:16px;
		line-height:1.25;
	}
}

p {
	margin-bottom:1.05263em;
	margin-top:0.263158em;
	font-size:17px;
	line-height:1.5;
	@media screen and (max-width: $small-screen) {
		margin-bottom:20px;
		font-size:15px;
		line-height:1.38;
	}
}

body {
	font-size:17px;
	line-height:1.5;
	@media screen and (max-width: $small-screen) {
		font-size:15px;
		line-height:1.38;
	}
}